.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input[type="text"],
  textarea,
  button {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
  }
  input[type="file"] {
    display: block;
    margin-bottom: 10px;
  }
  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  