.form-wrapper {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: 100vh;
    margin-top: 0px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
    text-decoration: underline;
  }
  #successMsg {
    text-align: center;
    font-size: 24px;
    color: green;
  }
  
  